<!DOCTYPE html>
<html>
 <head>
 	<link rel="stylesheet" type="text/css" href="css/styles.css">
 <title><%= title %></title>
 </head>
 <body>
 	<h1><%= title %></h1>
 	<h3>Pick an animal to see it's description!</h3>
    <select id="animalList">
    	<script type="text/javascript">
 		 var animals = <%- JSON.stringify(animalData) %>
 		 var currDeleted = 0;
 		</script>
   	</select>
 </body>
 <script src="js/animalSelect.js"></script>
<script src="js/animalTable.js"></script>
<script src="js/newAnimal.js"></script>
</html>
