<!DOCTYPE html>
<html>
 <head>
 <title><%= title %></title>
 </head>
 <body>
 	<h1><%= title %></h1>
 	<h3>Pick an animal to see it's description!</h3>
    <select id="animalList">
    	<% for(var i in animalData) { %>
    	<option value="<%= animalData[i].description %>"> <%= animalData[i].name %> </option>
    	<% } %>
  	</select>
 </body>
  	<script async src="js/animalSelect.js"></script>

</html>
