<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
  <h3>Pick an animal to see it's description!</h3>
  <select ng-model="animal" ng-options="for animal in animals">
</select>

  <div class="ui raised segment">
    <h2 class="ui header">Enter an animal here!</h2>
      <form [formGroup]="animalForm"
          (ngSubmit)="onAdd(animalForm.value)"
          class="ui form" >
          <div class="field">
            <label for="aniInput">Animal Name</label>
            <input type="text" id="aniInput"
           placeholder="Animal Name"
           formControlName="animalName">
           <input type="button" class="ui button" value="{{addBtn}}" formControlName="addAnimal">
           <select>
             <option value="">
             <option value="Red">Red
             <option value="Blue">Blue
             <option value="Green">Green
             <option value="Brown">Brown
          </select>
          <select>
            <option value="">
            <option value="Small">Small
            <option value="Medium">Medium
            <option value="Large">Large
            <option value="super-sized">Super-Sized
          </select>
          <input type="date">
         </div>
       </form>

       <table>
           <th>Name</th>
           <th>Color</th>
           <th>Size</th>
           <th>DOB</th>
           <tr *ngFor="let animal of animals; let ind = index">
             <td>{{animal.name}}</td>
             <td>{{animal.color}}</td>
             <td>{{animal.size}}</td>
             <td>{{animal.dob}}</td>
        </tr>
      </table>
  </div>
</div>


<router-outlet></router-outlet>
