<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
  <h3>Pick an animal to see it's description!</h3>
  <select [(ngModel)]="selectedAnimal">
      <option *ngFor="let animal of animals" [ngValue]="animal">
        {{animal.name}}
      </option>
  </select>
  <p *ngIf="selectedAnimal">The {{selectedAnimal.name}} is colored {{selectedAnimal.color}}, is sized {{selectedAnimal.size}}, and was born on {{selectedAnimal.dob}}</p>

  <div class="ui container" align="center">
    <h2 class="ui header">Enter an animal here!</h2>
      <form [formGroup]="animalForm"
          (ngSubmit)="addAnimal(animalForm.value)"
          class="ui form">
          <input [disabled]="!animalForm.valid" type="submit" class="ui button" value="{{addBtn}}">
          <div class="field">
            <label for="aniInput">Animal Name</label>
            <input type="text" id="aniInput"
           placeholder="Animal Name"
           formControlName="animalName" style="width: 200px" align="center">
           <label for="aniInput">Animal Color</label>
           <select formControlName="animalColor" style="width: 200px" align="center">
             <option *ngFor="let color of colors" [ngValue]="color">{{color}}
          </select>
          <label for="aniInput">Animal Size</label>
          <select formControlName="animalSize" style="width: 200px" align="center">
            <option *ngFor="let size of sizes" [ngValue]="size">{{size}}
          </select>
          <label for="aniInput">Animal DOB</label>
          <input type="date" formControlName="animalDOB" style="width: 200px" align="center">
         </div>
       </form>

       <table style="ui celled table" align="center">
           <th>Name</th>
           <th>Color</th>
           <th>Size</th>
           <th>DOB</th>
           <tr *ngFor="let animal of animals">
             <td>{{animal.name}}</td>
             <td>{{animal.color}}</td>
             <td>{{animal.size}}</td>
             <td>{{animal.dob}}</td>
             <td>
               <input type="button" *ngIf=!animal.display class="ui button" value={{editBtn}} (click)="onClickOpenForm(animal._id)">
               <form id={{animal._id}} *ngIf=animal.display [formGroup]="editForm"
                   (ngSubmit)="editAnimal(animal, editForm.value)"
                   class="ui form">
                   <div class="field">
                     <label for="editInput">Animal Name</label>
                     <input type="text" id="editInput"
                    placeholder="Animal Name"
                    formControlName="editName">
                    <select formControlName="editColor">
                      <option value="">
                      <option value="Red">Red
                      <option value="Blue">Blue
                      <option value="Green">Green
                      <option value="Brown">Brown
                   </select>
                   <select formControlName="editSize">
                     <option value="">
                     <option value="Small">Small
                     <option value="Medium">Medium
                     <option value="Large">Large
                     <option value="Super-Sized">Super-Sized
                   </select>
                   <input type="date" formControlName="editDOB">
                  </div>
                  <input type="button" class="ui button" value={{cancelBtn}} (click)="onClickCloseForm(animal._id)">
                  <input [disabled]="!animalForm.valid" type="submit" class="ui button" value="{{confirmBtn}}">
                </form>
            </td>
            <td>
              <input type="button" class="ui button" value={{delBtn}} (click)="deleteAnimal(animal)">
           </td>
         </tr>
      </table>
  </div>
</div>


<router-outlet></router-outlet>
